.content-wrap {
    max-width: $site-width;
    margin: 0 auto;
    padding: $gutter;
    overflow: hidden;
}

.grid {
    display: grid;
}

.button {
    cursor: pointer;
    &--nav {
        outline: none;
        border: none;
        background: transparent;

    }
}