html, p, h1, h2, h3, h4, h5, h6 {
    font-family: $font__site;
}

.content-wrap {
    max-width: $site-width;
    margin: 0 auto;
    padding: $gutter;
    overflow: hidden;
}

.grid {
    display: grid;
}

.button {
    cursor: pointer;
    &--nav {
        outline: none;
        border: none;
        background: transparent;

    }
}